<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147274402638-f7boeo8ts39ikf2scqfos154foe76ick.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147274402638-f7boeo8ts39ikf2scqfos154foe76ick</string>
	<key>API_KEY</key>
	<string>AIzaSyBX1YbORW6knvdC0xJ5_EVK6PRtgmF2eUM</string>
	<key>GCM_SENDER_ID</key>
	<string>147274402638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ozanaydogdu.instaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-65715</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-65715.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147274402638:ios:d6c3fe51b0e0f0ad7b6c1f</string>
</dict>
</plist>